<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6mF73lu5p5E2nm1Xv_9xGCgCBhhwrAxY</string>
	<key>GCM_SENDER_ID</key>
	<string>242360491339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.defaultProject</string>
	<key>PROJECT_ID</key>
	<string>chats-95d7e</string>
	<key>STORAGE_BUCKET</key>
	<string>chats-95d7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242360491339:ios:bace45ed1d4d3ce798dcce</string>
</dict>
</plist>